source https://api.nuget.org/v3/index.json
storage none
framework: net5.0

nuget Microsoft.AspNetCore.Components.WebAssembly
nuget Microsoft.AspNetCore.Components.WebAssembly.Build 
nuget Microsoft.AspNetCore.Components.WebAssembly.DevServer
nuget Microsoft.AspNetCore.Components.WebAssembly.Server
nuget Microsoft.AspNetCore.SignalR.Client 
nuget System.Net.Http.Json
nuget Confluent.Kafka

nuget LanguageExt.Core
nuget Serilog
nuget Serilog.AspNetCore
nuget Serilog.Enrichers.Environment
nuget Serilog.Enrichers.Process
nuget Serilog.Enrichers.Thread
nuget Serilog.Exceptions
nuget Serilog.Sinks.Async
nuget Serilog.Sinks.Trace
nuget Serilog.Sinks.Seq
nuget Serilog.Formatting.Elasticsearch