@page "/counter"
@using KafkaSimpleDashboard.Shared
@inject HttpClient Http

<h1>Publish Message</h1>

<div class="input-group mb-3">
    <div class="input-group-prepend">
        <span class="input-group-text" id="basic-addon1">Topic</span>
    </div>
    <input type="text" class="form-control" @bind="topic" placeholder="topic" aria-label="topic" aria-describedby="basic-addon1">
</div>

<div class="input-group">
    <div class="input-group-prepend">
        <span class="input-group-text">Body</span>
    </div>
    <textarea class="form-control" @bind="body" aria-label="With textarea"></textarea>
</div>

<button @onclick="HandleSubmit">Publish</button>

@code {
    private string topic = "";
    private string body = "";

    private async Task HandleSubmit()
    {
        await Http.PutAsJsonAsync("KafkaMessages", new KafkaMessage() { Body = body, Topic = topic });
    }
}